---
- name: Convert host_csv to Array
  set_fact:
    hostnames: "{{ host_csv.split(',') }}"

- debug: var=hostnames

- name: Get Host Array Length
  set_fact:
    number_vms: "{{ hostnames | length }}"

- debug: var=number_vms

- name: Fail if number_vms > 5
  fail:
    msg: "Number of VMs too large: {{ number_vms }}"
  when: {{ number_vms }} > 5

- name: Generate phpipam Token
  uri:
    url: "http://{{ php_ipam_hostname }}/api/{{ php_ipam_api_user }}/user/"
    method: POST
    user: "{{ php_ipam_username }}"
    password: "{{ php_ipam_password }}"
    force_basic_auth: true
    status_code: 200
  register: session

- debug: var=session.json.data.token
  when: debug is defined

- name: Get IPs
  uri:
    url: "http://{{ php_ipam_hostname }}/api/demolab/addresses/first_free/{{ php_ipam_subnet_id }}/"
    method: POST
    headers:
      phpipam-token: "{{ session.json.data.token }}"
    status_code: 201
  register: get_ip
  with_sequence: count={{ number_vms }}

- debug: var=get_ip.results

- name: Build IP List
  set_fact:
    ip_addresses: "{{ ip_addresses }} + [ '{{ item.json.data }}' ]"
  with_items: "{{ get_ip.results }}"

- debug: var=ip_addresses
